.dashboard-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 3em 4em;
}

.dashboard-container img {
    width: 70%;
    border-radius: 50%;
    cursor: pointer;
}

.dashboard-container-name {
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    background-color: #f0ebda;
    box-shadow: 0px 4px 10px 0px black;
    text-align: center;
}

.dashboard-container select {
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: #f0ebda;
    box-shadow: 0px 4px 10px 0px black;
    border-radius: 50px;
    height: 30px;
    margin-top: .4em;
}

.dashboard-container button {
    border: 2px solid purple;
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: #f0ebda;
    box-shadow: 0px 4px 10px 0px black;
    border-radius: 50px;
    height: 50px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.dashboard-container button:hover {
    scale: 1.1;
    cursor: pointer;
}

.dashboard-container h3 {
    margin-top: 1em;
}

.dashboard-container [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.dashboard-container [type=radio] + img {
    cursor: pointer;
}

.dashboard-container [type=radio]:checked + img {
    outline: 8px solid rgb(255, 0, 0);
}

.pet-image-select {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pet-image-select div {
    display: flex;
    width: 50%;
    margin-top: 1em;
}

.pet-image-select label {
    text-align: center;
}

.create-button {
    margin: auto;
}

@media(min-width: 1000px) {
    .pet-image-select {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .pet-image-select div {
        width: 25%;
        margin-top: 1em;
    }

    .dashboard-container img {
        width: 80%;
    }

    .dashboard-container {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .dashboard-container-name {
        width: 50%;
    }

    .dashboard-container-personality {
        width: 50%;
    }
    .create-button {
        margin: 0;
    }
}