.login-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form input {
    margin: 1em 3em;
    height: 60px;
    text-align: center;
    font-size: 24px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 4px 15px 0px rgb(106, 106, 106);
    background-color: #FFFCF3;
}

.login-container form input[type=submit] {
    background-color: #FFE38C;
    height: 80px;
    cursor: pointer;
}