.navbar-container {
    display: flex;
}

.navbar-ul-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.navbar-ul-container li, a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.navbar-ul-container li:hover, a:hover {
    scale: 1.2;
}

.login-register {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

@media (min-width: 1000px) {
    .navbar-container {
        justify-content: center;
    }
    .navbar-ul-container {
        width: 30%;
    }
}