.view-pet-container {
    text-align: center;
    height: 100%;
    width: 100%;
}

.view-pet-container span {
    background-color: inherit;
}

.view-pet-container h1 {
    color: black;
    font-size: 2.5rem;
    margin-top: 1em;
}

.view-pet-container button {
    color: black;
    background: linear-gradient(#ffffff, #FFEEB2);
    border: none;
    border-radius: 50px;
    height: 80px;
    width: 75%;
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'Nunito';
    margin-top: 1em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
}

.view-pet-container button:hover {
    cursor: pointer;
    scale: 1.1;
}

.view-pet-container img {
    width: 60%;
    margin: auto;
    margin-top: 1em;
    border-radius: 50%;
    box-shadow: 0px 4px 10px 0px rgb(137, 136, 129);
}

.pet-stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 1em;
}

.pet-stat {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-align: center;
    margin: 0 .5em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
    background: linear-gradient(#ffffff, #fff9e2);
}

.pet-stat-heart {
    color: red;
}

.view-pet-buttons-container {
    margin-bottom: 3em;
}

@media (min-width: 400px) {

}

@media (min-width: 1000px) {

    .view-pet-container {
        display: flex;
        flex-direction: row;
    }

    .view-pet-inner-container {
        display: flex;
        margin-left: 8em;
        margin-right: 8em;
    }

    .pet-details {
        width: 50%;
        border: 1px solid black;
    }
    .view-pet-container img {
        width: 50%;
    }

    .pet-stat {
        width: 10vw;
        height: 10vw;
    }

    .view-pet-container button {
        width: 50%;
    }

    .view-pet-buttons-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}